*{
    margin: 0;
    padding: 0; 
}

.red{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.red img{
    padding-left: 110px;
    user-select: none;
    cursor: pointer;
}

.red3{
    padding-block: 20px;
    border-block: 3px solid rgba(128, 128, 128, 0);
    background-color: rgba(240, 248, 255, 0);
    position: fixed;
    width: 100%;
    transition: 0.5s;
}

header{
    position: fixed;
    width: 100%;
    transition: 0.5s;
}

.nevidljiv{
    opacity: 0;
}

.vidljiv{
    display: block;
}

.sivo{
    background-color: rgba(128, 128, 128, 0.8);
}

.sivo1{
    background-color: rgba(128, 128, 128, 0.9);
    border-block: 3px solid rgba(128, 128, 128, 0.6);
}

.kont{
    padding-block: 15px;
}

.ulist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    flex-wrap: wrap;
}

.red1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mnu{
    padding-left: 0;
}

.ulist li{
    user-select: none;
    cursor: pointer;
    font-weight: 600;
}

@media (max-width:767px){
    .red img{
        padding-left: 0px;
    }
    .red{
        justify-content: center;
        padding-block: 20px;
    }
}

.pozadina{
    background-image: url(slike/woman.jpg);
    background-size: 100vw 115%;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

@media (min-width:3839px){
    .start{
        padding-left: 40% !important;
    }
}

@media (max-width:1920px){
    .pozadina{
        background-size: 1920px 115%;
    }
    
}

@media (max-width:1005px){
    .pozadina{
        background-position: left;
    }
    .pocetak p{
        text-align: center !important;
    }
    .pocetak h1{
        font-weight: 600;
        font-size: 90px;
        padding-top: 200px;
        text-align: center !important;
    }
    .start{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        padding-left: 0% !important;
    }

@media (max-width:767px){
    .red2{
        padding-left: 11%;
        display: block !important;
    }
    .red1{
        display: none;
    }
    .red{
        gap: 130px;
    }
}

@media (min-width:768px){
    .red3{
        display: none;
    }
}

@media (max-width:360px){
    .red{
        gap: 50px;
    }
    .pocetak h1{
        font-size: 80px !important;
    }
}
    
    .pocetak p{
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: gray;
        padding-top: 30px;
        font-size: 12.5px;
        padding-right: 0% !important;
    }
    
    .pocetak button{
        background-color: crimson;
        color: white;
        font-weight: 600;
        padding-inline: 20px;
        border: 5px solid crimson;
        border-radius: 2px;
        margin-top: 70px;
        margin-right: 0% !important;
    }
}

.pocetak{
    align-items: center;
    text-align: left;
    height: 100vh;
}

.start{
    padding-left: 25%;
}

.pocetak h1{
    font-weight: 600;
    font-size: 90px;
    padding-top: 257px;
    color: black;
    text-align: left;
}

.pocetak p{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: gray;
    padding-top: 30px;
    font-size: 12.5px;
    text-align: left;
}

.pocetak button{
    background-color: crimson;
    color: white;
    font-weight: 600;
    padding-inline: 20px;
    border: 5px solid crimson;
    border-radius: 2px;
    margin-top: 70px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(49, 49, 49);
    margin: 5px;
    transition: 0.5s;
}

.red2{
    display: none;
    max-width: min-content;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.anim .bar:nth-child(1){
    transform: translate(6px, 5.5px);
    rotate: 45deg;
}

.anim .bar:nth-child(2){
    transform: translateX(40px);
}

.anim .bar:nth-child(3){
    transform: translate(6px, -5px);
    rotate: -45deg;
}