*{
    margin: 0;
    padding: 0; 
}

.red{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.red img{
    padding-left: 110px;
    user-select: none;
    cursor: pointer;
}

.red3{
    padding-block: 20px;
    border-block: 3px solid rgba(128, 128, 128, 0);
    background-color: rgba(240, 248, 255, 0);
    position: fixed;
    width: 100%;
    transition: 0.5s;
}

header{
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 1;
}

.nevidljiv{
    opacity: 0;
}

.vidljiv{
    display: block;
}

.sivo{
    background-color: rgba(128, 128, 128, 0.8);
}

.sivo1{
    background-color: rgba(128, 128, 128, 0.9);
    border-block: 3px solid rgba(128, 128, 128, 0.6);
}

.kont{
    padding-block: 15px;
}

.ulist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    flex-wrap: wrap;
}

.red1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mnu{
    padding-left: 0;
}

.ulist li{
    user-select: none;
    cursor: pointer;
    font-weight: 600;
}

.pozadina{
    background-image: url(slike/zena.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
}

.pocetak p{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: gray;
    padding-top: 30px;
    font-size: 12.5px;
    padding-right: 0% !important;
}
    
.pocetak button{
    background-color: crimson;
    color: white;
    font-weight: 600;
    padding-inline: 20px;
    border: 5px solid crimson;
    border-radius: 2px;
    margin-top: 70px;
    margin-right: 0% !important;
}


.pocetak{
    align-items: center;
    text-align: left;
    height: 100vh;
}

.start{
    padding-left: 25%;
}

.pocetak h1{
    font-weight: 600;
    font-size: 90px;
    padding-top: 257px;
    color: black;
    text-align: left;
}

.pocetak p{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: gray;
    padding-top: 30px;
    font-size: 12.5px;
    text-align: left;
}

.pocetak button{
    background-color: crimson;
    color: white;
    font-weight: 600;
    padding-inline: 20px;
    border: 5px solid crimson;
    border-radius: 2px;
    margin-top: 70px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(49, 49, 49);
    margin: 5px;
    transition: 0.5s;
}

.red2{
    display: none;
    max-width: min-content;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.anim .bar:nth-child(1){
    transform: translate(6px, 5.5px);
    rotate: 45deg;
}

.anim .bar:nth-child(2){
    transform: translateX(40px);
}

.anim .bar:nth-child(3){
    transform: translate(6px, -5px);
    rotate: -45deg;
}

.naslov{
    text-align: center;
    padding-top: 100px;
}

.linija{
    display: block;
    width: 100px;
    border: 1px solid crimson;
    margin: auto;
    margin-block: 24.5px;
}

.linija1{
    height: 50px;
}

.podnaslov{
    text-align: center;
}

.centar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
    padding-top: 40px;
}

.break{
    text-align: left;
    color: gray;
    max-width: 360px;
}

.centar .col-md-4{
    width: max-content;
}

.read{
    display: flex;
    gap: 10px;
    width: max-content;
    height: 25px;
    cursor: pointer;
    pointer-events: auto;
}

.strelica{
    border: 1px solid crimson;
    height: 8px;
}

.strelica:nth-child(2){
    rotate: 45deg;
    transform: translate(13px,6px);
}
.strelica:nth-child(3){
    rotate: -45deg;
    transform: translate(-11px,1px);
}

.naslov1{
    padding-block: 10px;
    font-weight: 600;
}

.read p{
    font-weight: 600;
}


.crvenidiv{
    background-color: rgb(255, 94, 94);
    text-align: left;
    color: white;
    padding-inline: 0;
    width: 50%;
    max-height: 500px;
}

.crvenidiv h1{
    padding-top: 20px;
    font-weight: 600;
    font-size: 160%;
    padding-bottom: 40px;
    width: max-content;
}

.crvenidivsve{
    width: 70%;
    padding-left: 12%;
    padding-block: 8.2%;
}

.crvenitekst{
    text-align: left;
    padding-right: 35%;
    font-weight: 500;
    margin-top: -5%;
    width: 120%;
}

.crvenicont{
    max-width: 100%;
}

.crvenaslika{
    padding-inline: 0;
    width: 50%;
    height: 500px;
    max-height: 500px;
    overflow: hidden;
    background-image: url(slike/fotograf.jpg);
    background-size: 100% 140%;
    background-size: cover;
    background-position: center;
    background-position-y: center;
}

.readbtn{
    font-size: 80%;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgb(255, 94, 94);
    color: white;
    padding-block: 10px;
    padding-inline: 30px;
}



.expcont{
    background-color: rgb(68, 68, 68);
    max-width: 100%;
    padding-block: 100px;
    height: 100%;
}

.exp{
    color: white;
    text-align: center;
}

.exprow{
    align-items: center;
    justify-content: center;
}

.expsve{
    margin-top: 40px;
}

.expcont1{
    background-color: rgb(68, 68, 68);
}

.expnaslov{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 170px;
    width: max-content;
}
.expnaslov h5{
    height: min-content;
}

.linetacka{
    margin-bottom: 20px;
    max-width: max-content;
}

.line{
    display: block;
    height: 650px;
    width: 2px;
    background-color: rgb(75, 75, 75);
    margin-left: 2.5px;
    position: absolute;
}

.tacka{
    display: block;
    background-color: crimson;
    height: 2px;
    width: 2px;
    border: 3px solid crimson;
    border-radius: 10px;
    margin-bottom: 195px;
    position: relative;
    margin-left: 0.7px;
}

.t1{
    margin-top: 20px;
}

.expsve{
    display: flex;
    justify-content: center;
}

.exptext{
    margin-left: 2.5%;
}

.text{
    margin-bottom: 60px;
    color: white;
}

.top{
    width: 56vw;
    text-align: right;
    transition: 0.25s;
}

.nedugme{
    opacity: 0;
}
.dugme{
    opacity: 100;
}

.top button{
    top: 95%;
    right: 3%;
    position: fixed;
    width: 27.5px;
    height: 30px;
    background-color: crimson;
    border: 2px solid crimson;
    color: white;
    z-index: 1;
}

.latest{
    text-align: center;
    padding-top: 50px;;
}

.wrapper{
    display: flex;
    width: 225%;
}

.visiblecards{
    scrollbar-width: none;
    overflow-x: scroll;
    pointer-events: none;
    user-select: none;
    scroll-behavior: smooth;
    margin-bottom: 100px;
    size: 100%;
}

.card{
    display: flex;
    height: 25vw;
    width: 3000vw;
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
    justify-content: end;
    color: white;
} 

.card p{
    font-size: 1.75vw;
    padding-bottom: 4vw;
}

.c1{
    background-image: url(slike/6.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c2{
    background-image: url(slike/4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c3{
    background-image: url(slike/5.jpg);  
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c4{
    background-image: url(slike/2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c5{
    background-image: url(slike/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c6{
    background-image: url(slike/3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}
.c7{
    background-image: url(slike/7.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c8{
    background-image: url(slike/8.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.c9{
    background-image: url(slike/9.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 50%;
}

.choose{
    background-color: rgb(247, 247, 247);
    padding-block: 100px;
}

.chooseh1{
    text-align: center;
}

.choosep{
    text-align: center;
    margin-bottom: 50px;
}

.wrapper1{
    display: flex;
    gap: 20px;
    margin-left: 63vw;
}

.visiblecards1{
    display: flex;
    width: 62vw;
    margin-left: 18.5vw;
    overflow-x: scroll;
    pointer-events: none;
    user-select: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    justify-content: center;
}

.card1{
    display: grid;
    height: max-content;
    width: 20vw;
    height: 20vw;
    background-color: white;
    padding-inline: 40px;
    padding-block: 40px;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.dots{
    display: flex;
    width: min-content;
    margin: auto;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    height: 14px;
}

.activedot{
    background-color: rgba(255, 255, 255, 0) !important;
    width: 14px !important;
    height: 14px !important;
    transition: all 0.2s;
}

.dot{
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 32px;
    border: 2px gray solid;
    background-color: gray;
    transition: all 0.2s;
}

.servicesh5{
    display: grid;
    padding-block: 50px;
    text-align: center;
    align-items: center;
}

.servicesh5 h5{
    margin-bottom: 0rem;
    color: white;
    font-weight: bold;
}

.servicesbtn{
    padding-block: 50px;
    text-align: right;
}

.servicesbtn button{
    padding-inline: 20px;
    padding-block: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-weight: 600;
}

.servicesrow{
    width: 100%;
    margin-bottom: 50px;
}

.servicescard{
    color: white;
    padding-inline: 2.95%;
    padding-block: 60px;
}

.servicescard p{
    padding-block: 10px;
}

.servicescont{
    margin-inline: 0;
    max-width: 100vw;
    padding-inline: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.servicesbtnread{
    background-color: rgb(255, 78, 78);
    color: white;
    font-weight: 600;
    padding-inline: 20px;
    border: 5px solid rgb(255, 78, 78);
    border-radius: 3px;
}

.servicescard:nth-child(1){
    background-image: url(slike/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(105, 105, 105);
}

.servicescard:nth-child(2){
    background-image: url(slike/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(105, 105, 105);
}

.servicescard:nth-child(3){
    background-image: url(slike/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(105, 105, 105);
}

.peoplesayh1{
    font-weight: 600;
    text-align: center;
    margin-top: 3.5vw;
}

.peoplesayp{
    text-align: center;
    width: 38vw;
    min-width: 320px;
    padding-inline: 0;
}

.peoplesayp p{
    color: grey;
}

.peoplesayp h6{
    color: crimson;
}

.peoplesayrow{
    display: flex;
    flex-direction: row;
    width: 114vw;
    margin: auto;
}

.peoplesayvisiblecards{
    width: 38vw;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    pointer-events: none;
    user-select: none;
}

.peoplesaycont{
    margin-inline: auto;
    width: 38vw;
    padding-inline: 0;
}

.peoplesayimg{
    text-align: center;
    margin-top: 50px;
}

.activedot1{
    background-color: rgba(255, 255, 255, 0) !important;
    width: 14px !important;
    height: 14px !important;
    transition: all 0.2s;
}







@media (max-width:1084px){
    .servicesrow{
        flex-direction: column;
        min-width: 320px;
        width: 60vw;
    }
    .servicescard{
        width: 100%;
    }
}

@media (max-width:1552px){
    .dots{
        display: none;
    }
    .card1{
        height: max-content;
        width: 50vw;
    }
    .wrapper1{
        display: grid;
        overflow: hidden;
        margin-left: 0vw;
    }
    .visiblecards1{
        margin-left: 25vw;
        justify-content: left;
    }
}

@media (max-width:630px){
    .card1{
        height: 315px;
        width: 315px;
    }
    .wrapper1{
        width: 315px;
    }
    .visiblecards1{
        width: 100%;
        margin-left: 0vw !important;
        justify-content: center;
    }
}

@media (max-width:1330px){
    .crvenitekst{
        padding-right: 5%;
    }
}

@media (max-width:428px) {
    .crvenidivsve{
        scale: 80%;
        margin-top: -40px;
    }
}

@media (max-width:360px) {
    .crvenidivsve{
        margin-top: -80px;
    }    
    .lijevo{
        width: 300px !important;
    }
    .red{
        gap: 50px;
    }
    .pocetak h1{
        font-size: 80px !important;
    }
}

@media (max-width:1120px) {
    .centar{
        display: grid;
    }
    .crvenirow{
        display: grid;
    }
    .crvenaslika{
        width: 100% !important;
    }
    .crvenidiv{
        width: 100% !important;
    }
}

@media (max-width:767px){
    .red img{
        padding-left: 0px;
    }
    .red{
        justify-content: center;
        padding-block: 20px;
        gap: 130px;
    }
    .red2{
        padding-left: 11%;
        display: block !important;
    }
    .red1{
        display: none;
    }
    .servicesbtn{
        text-align: center !important;
        padding-top: 25px !important;
    }
    .servicesh5{
        padding-bottom: 25px !important;
    }
}

@media (min-width:3839px){
    .start{
        padding-left: 40% !important;
    }
}

@media (max-width:1920px){
    .pozadina{
        background-size: 1920px 115%;
    }
}

@media (max-width:1005px){
    .pozadina{
        background-position: left;
    }
    .pocetak p{
        text-align: center !important;
    }
    .pocetak h1{
        font-weight: 600;
        font-size: 90px;
        padding-top: 200px;
        text-align: center !important;
    }
    .start{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        padding-left: 0% !important;
    }
}

@media (min-width:768px){
    .red3{
        display: none;
    }
}

@media (max-width: 844px){
    .peoplesayvisiblecards{
        overflow-x: hidden;
        min-width: 320px;
    }
    .peoplesayrow{
        display: grid;
        min-width: 320px;
        width: 38vw;
        margin: auto;
    }
    .peoplesaycont{
        min-width: 320px;
    }
}

@media (max-width:480px){
    .peoplesayimg img{
        display: none;
    }
}