*{
    margin: 0;
    padding: 0;
}

.red{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.red img{
    padding-left: 110px;
    user-select: none;
    cursor: pointer;
}

.kont{
    padding-block: 15px;
}

.ulist{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    flex-wrap: wrap;
}

.red1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ulist li{
    user-select: none;
    cursor: pointer;
    font-weight: 600;
}

@media (max-width:767px){
    .red img{
        padding-left: 0px;
    }
    .red{
        justify-content: center;
        padding-block: 20px;
    }
}

.pozadina{
    background-image: url(slike/woman.jpg);
    background-size: 1744px 115%;
    background-position: center;
}

@media (max-width:1005px){
    .pozadina{
        background-position: left;
    }
    .pocetak h1{
        font-weight: 600;
        font-size: 90px;
        padding-top: 200px;
        padding-right: 0% !important;
    }
    
    .pocetak p{
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: gray;
        padding-top: 30px;
        font-size: 12.5px;
        padding-right: 0% !important;
    }
    
    .pocetak button{
        background-color: crimson;
        color: white;
        font-weight: 600;
        padding-inline: 20px;
        border: 5px solid crimson;
        border-radius: 2px;
        margin-top: 70px;
        margin-right: 0% !important;
    }
}

.pocetak{
    align-items: center;
    text-align: center;
    height: 793px;
}

.pocetak h1{
    font-weight: 600;
    font-size: 90px;
    padding-right: 41%;
    padding-top: 200px;
}

.pocetak p{
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: gray;
    padding-right: 26%;
    padding-top: 30px;
    font-size: 12.5px;
}

.pocetak button{
    background-color: crimson;
    color: white;
    font-weight: 600;
    padding-inline: 20px;
    border: 5px solid crimson;
    margin-right: 54%;
    border-radius: 2px;
    margin-top: 70px;
}